* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #003580;  
}

body::before {
    display: none;  
}



.wrapper {
    width: 1100px;
    margin: auto;
}


nav {
    width: 100%;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 100;
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-logo {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.logo img {
    width: 70px;
    height: auto;
}

.logo a {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #111844;
    display: block;
    line-height: 1;
    margin: 0;
}


.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu ul li a {
    color: black;
    font-weight: bold;
    padding: 10px;
}

.menu ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}


a.tbl-biru {
    border-radius: 20px;
    padding: 15px 20px;
    color: #FFFFFF;
    font-weight: bold;
    
}

a.tbl-biru:hover {
     background: #1a1a1a;
    border-color: #e6cc00;
    transform: translateY(-2px);
    color: #F7DF1E;;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
     overflow: hidden;
    z-index: 1000;
    margin-left: 10px;
    
}

.dropdown-content a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 12px 20px; 
}

.dropdown-content a {
        text-align: center;
}

.dropdown-content a.tut {
        text-align: center;
}

.dropdown-content a:hover {
     background: #1a1a1a;
    border-color: #e6cc00;
     
    color: #F7DF1E;;
}


.dropdown:hover .dropdown-content {
    display: block;

    
}

